.full-page {
    background-color: #fff;
}

h1{
    text-align: center;
    background-color: white;
}

.posts{
    padding: 20px;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.post {
    border-width: thick;
    border-style: double;
    border-color: black;
    margin: 30px;
    padding: 10px;
    background-color: white;
}

.title{
    color: black;
    font-size: 400%;
    font-weight: bold;
    text-align: center;
}

.post_user{
    text-align: right;
}

.category{
    text-align: right;
}

.photo {
    width: 100%;
    margin: auto; 
}

.inner {
    width: 90%;
    margin: 0 auto;
}

.photo img {
    width: 100%;
}

.body {
    text-align: center;
}

.liked {
    color: rgb(225, 58, 86);
}

.like-toggle {
    cursor: pointer;
}

.delete {
    border-style: solid;
}